body{
    
    
    margin: 0px;
    border: 4px solid;
    border-color: rgb(0, 0, 0);
    
    
}
h1::first-line{
    text-align: left;
    font-size: 0.8em;
    font-family: verdana;
    font-size: 1em;
    color:rgb(253, 251, 251);
   
}
#box1
{
    border: 0.3px solid;
    background-color: rgb(20, 18, 18);
}
#box2
{
    border: 0.3px solid;
    background-color: rgb(166, 165, 159);
}
#box10
{
    background-color:rgb(221, 222, 214);
    border: 2px solid;
}
#background1
{
    background-image: url(B1.png); 
}
#boxmain{
    float:center;
    
    border: 2px solid;
}
#sub{
    border: 3px solid;
}
main{
    margin-left: 10px;
    margin-right: 10px;
}


.navbar ul{
    list-style-type: none;
    background-color:rgb(254, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(211, 173, 173)
    ;
}
.navbar li{
    float:left;
}

#WisconsinLogo
{
    margin-right: 35px;
    float: right;
    
    
    
}
#ASMElogo
{
    float: left;
    margin-left: 300px;
    
}
h1{
    font-family: verdana;
    font-size: 1em;

}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
#WisLogo{
    margin-left: 375px;
    float: left;
}
#psub{
    font-size: 2.75em;
    float: right;
    margin-right: 350px;
    margin-top:0px;
}
#p1sub{
    font-size: 1em;
    float: right;
    margin-right: 560px;
    margin-top:-40px;
}
#p2sub{
    font-size: 1em;
    float: right;
    margin-right: 560px;
    margin-top:-20px;
}
#p3sub{
    font-size: 1em;
    float: right;
    margin-right: 570px;
    margin-top:-15px;
}
.icon
{
    border: 1.5px solid;
    border-color:gray;
}
.fa-solid.fa-house.fa-5x
{
    
    color:rgb(100, 41, 41);
    margin-left:10px;
}
.fa-brands.fa-linkedin.fa-5x
{
    color:rgb(76, 76, 202);
}
.fa-brands.fa-instagram.fa-5x
{
    color: purple;
}
.fa-brands.fa-facebook.fa-5x
{
    color:blue;
}


.fa-solid.fa-house.fa-5x:hover
{
     color:rgb(108, 83, 83);
    margin-left:10px;
}
.fa-brands.fa-linkedin.fa-5x:hover
{
    color:rgb(143, 143, 197);
}
.fa-brands.fa-instagram.fa-5x:hover
{
    color: rgb(190, 112, 190);
}
.fa-brands.fa-facebook.fa-5x:hover
{
    color:rgb(101, 101, 146);
}
footer{
    border: 3px solid;
}
#products{

    margin-left: 20px;
}
#Mug{
    margin-left: 35px;
    float: left;
}
#Item2{
    margin-left: 100px;
    float: left;
}
#Item3{
    margin-left: 100px;
    float: left;
}
#Im1{
    margin-left: 40px;
    float: left;
}
#Im2{
    margin-left: 200px;
    float: left;
}
#Im3{
    margin-left: 200px;
    float: left;
}
#ab{
     margin-left: 20px;
}
#AbbASME{
    float: left;
    margin-left: 30px;
}#description{
    
    border: 3px solid;
    border-color:rgb(151, 144, 144);
}
#gm{
    
    font-size: 25px;
}
#GM{

    float: left;
    margin-left: 20px;
}
#GMdescription{
    border: 3px solid;
    border-color:rgb(151, 144, 144);
    float: left;
    margin-left: 0px;
}
#TeslaLogo{
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid;
}
#CretexLogo{
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid;
}
#ABBLogo{
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid;
}
#DT{
    margin-left: 20px;
}

